#main {
  width: 90%;
  margin: 0 auto;
}
#main .controls {
  margin-bottom: 20px;
}
#main .items-list > li {
  background: #f5f5f5;
  padding: 0 10px;
  overflow: hidden;
  margin-bottom: 20px;
}
#main .items-list > li > div {
  margin-bottom: 10px;
}
